extends layout

block content
    //h5=title
    .table-responsive
        table.table.table-striped.table-hover.table-bordered.table-margin
            thead
                tr
                th #
                th Company
                th Executives
            tbody
                - var count = 0
                each val in company_list
                    tr
                        td #{++count}
                        td
                            a(href=val.url) #{val.title}
                        td