extends layout

block content
    //h5=title
    .table-responsive
        table.table.table-striped.table-hover.table-bordered.table-margin
            thead
                tr
                    th #
                    th Company
                    th Executivies
                    th TH URL
                    th Leadership URL
            tbody
                each val in list_firms
                    - var count = 0
                    tr
                        td #{count}
                        td
                            a(href=val.url) #{val.name}
                        td 2
                        td 3
                        td 4




