extends layout

block content
    //h5=title
    .table-responsive
        table.table.table-striped.table-hover.table-bordered.table-margin
            thead
                tr
                th #
                th PE Firm
                th Companies
                th
                th
            tbody
                - var count = 0
                each val in list_firms
                    tr
                        td #{++count}
                        td
                            a(href=val.url) #{val.name}
                        td
                        td
                        td




